
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: 15px;
    border: 2px solid rgb(230, 220, 220);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 2px solid rgb(230, 220, 220);
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    cursor: pointer;
}
.nav a:hover{
    color: forestgreen;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 5px;}

.icon{
    background-color: forestgreen;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: forestgreen;
}
.avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.main{
    padding: 20px 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.card1, .card2, .card3{
    border: 2px solid rgb(230, 220, 220);
    padding: 20px;
    border-radius: 5px;
}
 tr .date{
    border-bottom: 2px solid rgb(230, 220, 220);
}

.amount{
    margin-left: 200px;
    color: forestgreen;

}

.footer{
    background-color: rgb(236, 233, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    
}
.footer a{
    text-decoration: none;
    color: black;
}
.company, .support{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}
.follow {
    display: flex;
    flex-direction: row;
    gap: 20px;

}